<footer>
  <div class="f-Info">
    <div class="f-Info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="f-Info-brand">&copy;WanderStay Private Limited</div>

    <div class="f-Info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
