body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
/* navbar */
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}

/* footer */
.f-Info-links a {
  text-decoration: none;
  color: #222222;
}
.f-Info-links a:hover {
  text-decoration: underline;
}
.f-Info-links,
.f-Info-socials,
.f-Info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-Info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-Info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}
.listing-links {
  text-decoration: none;
}

/* card effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.3;
  background-color: white;
}

/* new & edit page style */
.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* style to show page  */
.show-img {
  height: 30vh;
}
.btns {
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Map */
#map {
  height: 400px;
  width: 80vh;
}
